# # Elastic Beanstalk Files
# **/.elasticbeanstalk/*
# !**/.elasticbeanstalk/*.cfg.yml
# !**/.elasticbeanstalk/*.global.yml

/.devcontainer

**/__pycache__

**/.env*

**/config

**/.pytest_cache/

**/.idea/

**/.vscode/
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

/venv*

.ebextensions/*