option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: api.server:application
  aws:elasticbeanstalk:application:environment:
    ENVIRONMENT: dev
    PORT: 5000
    PYTHONPATH: /var/app/current:$PYTHONPATH
    RDS_HOSTNAME: maindb.co5glopuvopf.us-east-2.rds.amazonaws.com
    RDS_PORT: 3306
    RDS_USERNAME: ebroot
    RDS_PASSWORD: 79WhiteladiesRoad
    RDS_DB_NAME: gigs
  aws:autoscaling:launchconfiguration:
    SecurityGroups: WebServerSecurityGroup
packages:
  dnf:
    mariadb105.x86_64: []
  yum:
    mariadb105.x86_64: []
container_commands:
  01_init_db:
    command: ./scripts/seed_rds.sh
    leader_only: true
