option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: api.server:application
  aws:elasticbeanstalk:application:environment:
    ENVIRONMENT: dev
    PORT: 5000
    PYTHONPATH: /var/app/current:$PYTHONPATH
packages:
  dnf:
    mariadb105.x86_64: []
container_commands:
  01_init_db:
    command: ./scripts/seed_rds.sh
    leader_only: true

